<div class="hero-unit">
	<h1>Hipstagram</h1>
	<p>
		A collection of the best hipster photos from Instagram, welcome to
		<%= link_to "Hipstagram", "http://hipstagr.am" %>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
